# Copyright (c) 2018 Caleb Boylan
# [This program is licensed under the "MIT License"]
# Please see the file LICENSE in the source
# distribution of this software for license terms.

/target
**/*.rs.bk
*.gb
test-roms/
*.log
my-prof.profile
roms
